<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
	<link rel="stylesheet" href="/shoebill.css" />
</head>
<body>


	<% if (errors) { %>
		<% errors.forEach((err) => { %>
		<p class="msg error"><%= err %></p>
		<% }) %>
	<% } %>

	<% if (successes) { %>
		<% successes.forEach((success) => { %>
		<p class="msg success"><%= success %></p>
		<% }) %>
	<% } %>

	<h1>This is your customizable homepage </h1>
	<!-- 
	
		if you have generated your facebook files using shoebill add facebook, you can include
		the facebook signin button through: <% include ./partials/facebooksignin %> 

		if you have generated your google files using shoebill add google, you can include
		the google signin button through: <% include ./partials/googlesignin %> 

		if you would like to include a signup form for the user signup route (see shoebill routes for list of all routes and methods), you can use <% include ./partials/signup %>
		
		if you would like to include a login form for the user login route, you can use <% include ./partials/login %>

	-->

</body>
</html>