<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
	<link rel="stylesheet" href="/shoebill.css" />
</head>
<body>
	<h1>This is your customizable homepage </h1>
	<% include ./partials/facebooksignin %> 
	<br/>
	<% include ./partials/googlesignin %> 
	<br/>
	<% include ./partials/signup %>
	<br/>
	<% include ./partials/login %>
</body>
</html>