<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
	<link rel="stylesheet" href="/shoebill.css" />
</head>
<body>
	<% if (errors) { %>
		<% errors.forEach((err) => { %>
		<p class="msg error"><%= err %></p>
		<% }) %>
	<% } %>

	<% if (successes) { %>
		<% successes.forEach((success) => { %>
		<p class="msg success"><%= success %></p>
		<% }) %>
	<% } %>


	<h1 style="text-align: center">This is your customizable homepage </h1>

</body>
</html>