<!DOCTYPE html>
<html>
<head>
	<title>Profile</title>
</head>
<body>

	<div style="text-align: center">
		<h2>Your customizable Profile Page</h2>
		<h2><%= user.username %> </h2>
		<a href="/user/signout">Logout</a>
	</div>

</body>
</html>