<form action="/localuser/login/" method="post" id="localuserlogin" class="localuserform">
	<p>Log In</p>
	<label for="username">Username:</label>
	<br/>
	<input class="localuserinput" type="text" name="username" id="username" placeholder="type a username" />
	<br/>
	<label for="password">Password:</label>
	<br/>
	<input class="localuserinput" type="password" name="password" id="password" placeholder="pick a password" />
	<br/>
	<br/>
	<input type="submit" class="localusersubmit"/>
	<br/>
	<br/>
</form>