<form action="/localuser/new/" method="POST" id="localusernew" class="localuserform">
	<p>Sign Up</p>
	<label for="username">Username:</label>
	<br/>
	<input class="localuserinput" type="text" name="username" id="username" placeholder="type a username" />
	<br/>
	<label for="password">Password:</label>
	<br/>
	<input class="localuserinput" type="password" name="password" id="password" placeholder="pick a password" />
	<br/>
	<label for="password2">Retype Password:</label>
	<br/>
	<input class="localuserinput" type="password" name="password2" id="password2" placeholder="retype your password" />
	<br/>
	<br/>
	<input type="submit" class="localusersubmit"/>
	<br/>
	<br/>
</form>

